{% extends "sopa/index.html" %}
{% block content %}
<div class="page-header">
  <h1>&nbsp;Ayuda con SOPA. <small>Cómo funcona SOPA</small></h1>
</div>
<div class="container">
    <br />
    <br />
    <br />
<div class="panel-group" id="accordion">
        <div class="faqHeader">Preguntas generales</div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">¿Es obligatorio registrarse?</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                    Registrarse en <strong>SOPA</strong> es obligatorio para poder ver y compartir las opiniones y los datos sobre las prácticas.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">¿Se comparten las opiniones vertidas?</a>
                </h4>
            </div>
            <div id="collapseTen" class="panel-collapse collapse">
                <div class="panel-body">
                    <strong>NO.</strong> Este sitio está creado para que los alumnos puedan afrontar sus prácticas con algo información inicial proporcionada por sus compañeros.
                    El objetivo es que estas opiniones no estén condicionadas a una posible lectura por parte de ninguna empresa.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">¿Cuesta dinero?</a>
                </h4>
            </div>
            <div id="collapseEleven" class="panel-collapse collapse">
                <div class="panel-body">
                    <strong>NO.</strong> Es un sitio educativo sin ningún interés comerical.
                </div>
            </div>
        </div>

        <div class="faqHeader">Funcionamiento</div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Registro</a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    Basta con que completes el formulario para crear tu cuenta y empezar a leer o compartit tus experiencias.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Consultar encuestas </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                    Para consultar una encuesta debes:
                    <ul>
                        <li>Registrarte en el sistema.</li>
                        <li>iniciar sesión.</li>
                        <li>Consultar la sección <strong>Empresas</strong></li>
                        <li>Buscar la empresa que te interesa</li>
                        <li>Acceder al detalle de la misma</li>
                        <li>Consultar las opiniones que te interesen</li>
                        <li>Tambien puedes consultar la sección <strong>Encuestas</strong></li>
                        <li>Allí encontrarás las opiniones vertidas por tus compañeros</li>
                        <li>En la sección <strong> Usuarios</strong> y buscar a los compañeros que sabes que han trabajdo en alguna empresa de tu interés, o descubrirlo.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">Si la empresa no está...</a>
                </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse">
                <div class="panel-body">
                    La idea es que la base de datos de empresas y de las opiniones sobre la misma crezcan cada dia gracias a tu colaboración y la de tus compañeros.
                    Por eso puedes dar de alta la empresa en la sección <strong>Empresas</strong> indicando los datos que se piden en el formulario.
                    <br />
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">He cometido un error al rellenar una encuesta...</a>
                </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse">
                <div class="panel-body">
                    Si la cosa es grave (los datos de la misma pueden llevar a una gran confusión) puedes acceder a <strong>Mi Perfil</strong> y borrarla para volver a crearla. Si son fallos tontos no pasa nada.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">Tengo problemas o dudas que no encuentro aquí</a>
                </h4>
            </div>
            <div id="collapseEight" class="panel-collapse collapse">
                <div class="panel-body">
                    No dudes en ponerte en contacto con nosotros y no descansaremos hasta resolverlo!!
                </div>
            </div>
        </div>

</div>
</div>




{% endblock content %}
