
{% extends "sopa/index.html" %}
{% block content %}
{% load i18n %}




  <br>
  <div class ="col-md-8 col-md-offset-3"><br>
  <h3>Formulario de opinión y calidad sobre prácticas externas</h3>

</div>
  <div class="col-md-8 col-md-offset-3">
  <p>Paso {{ wizard.steps.step1 }} de {{ wizard.steps.count }}</p>
  <br>
  <form action="" method="post">{% csrf_token %}
  <table>
  {{ wizard.management_form }}
  {% if wizard.form.forms %}
      {{ wizard.form.management_form }}
      {% for form in wizard.form.forms %}
          {{ form.as_p }}
      {% endfor %}
  {% else %}
      {{ wizard.form }}
  {% endif %}
  </table>
  <br>
  {% if wizard.steps.prev %}
  <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% trans "primer paso" %}</button>
  <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button>
  {% endif %}
  <input type="submit" value="{% trans "continuar" %}"/>
  </form>
</div>
</div>
</div>

{% endblock %}
