{% extends "sopa/index.html" %}
{% block content %}
<div class="page-header">
  <h1>&nbsp;Opinión sobre {{encuesta.nombre_empresa}} {{encuesta.departamento}}. <small>Creada por {{encuesta.user}} el {{encuesta.created_date|date:"d M Y"}}</small></h1>

</div>
<div class="container">
    <br />
    <br />
    <br />

 <div class ="col-md-5 col-md-offset-1">

<h3><u>Cuestiones fundamentales: </u></h3><br>

<p><u>Nombre de la empresa:</u> {{encuesta.nombre_empresa}}</p><br>
<p><u>Departamento:</u> {{encuesta.departamento}}</p><br>
<p><u>Tutor:</u> {{encuesta.tutor}}</p><br>
<p><u>Creador de la encuesta:</u> {{encuesta.user}}</p><br>
<p><u>Fecha de creacion:</u> {{encuesta.created_date}}</p><br>
<p><u>Tematicas de trabajo:</u> {{encuesta.pf1}}</p><br>
<p><u>Otras tematicas:</u> {{encuesta.pf11}}</p><br>
<p><u>Ayudas:</u> {{encuesta.pf2}}</p><br>
<p><u>Otras ayudas:</u> {{encuesta.pf22}}</p><br>
</div>
<div class ="col-md-5 col-md-offset-1">
<h3><u>Cuestiones importantes</u></h3><br>

<p><u>Practicas remuneradas:</u> {{encuesta.pb1}}</p><br>
<p><u>Posibilidad de posterior :</u> {{encuesta.pb2}}</p><br>
<p><u>Relacion personal y laboral con el tutor:</u> {{encuesta.pb3}}</p><br>
<p><u>Requisitos previos:</u> {{encuesta.pb4}}</p><br>
</div>
<br>
<div class ="col-md-6 col-md-offset-1">
<br>
<h3><u>Cuestiones de menor importancia</u></h3><br>

<p><u>Forma de trabajo:</u> {{encuesta.ps1}}</p><br>
<p><u>Tipo de jornada:</u> {{encuesta.ps2}}</p><br>
<p><u>Flexibilidad de la jornada:</u> {{encuesta.ps3}}</p><br>
<p><u>Periodo vacacional:</u> {{encuesta.ps4}}</p><br>
<p><u>Duracion de la beca:</u> {{encuesta.ps5}}</p><br>
<p><u>Ambiente laboral:</u> {{encuesta.ps6}}</p><br>
<p><u>Descripcion breve del contenido de la beca:</u> {{encuesta.ps7}}</p><br>
</div>
<br>
<div class ="col-md-5">
<br>
<h3><u>Cuestiones anecdóticas</u></h3><br>

<p><u>Conocimientos adquiridos que anadiras a tu CV:</u> {{encuesta.pa1}}</p><br>
<p><u>Comentarios y recomendaciones adicionales:</u> {{encuesta.pa2}}</p><br>
</div>
</div>









</div>

{% endblock content %}
