{% extends "sopa/index.html" %}
{% block content %}
<div class="page-header">
  <h1>Detalle de {{empresa.nombre_empresa}}. <small>Departamento: {{empresa.departamento}}. Tutor: {{empresa.tutor}}</small></h1>

</div>
<br>
 <div class ="col-md-8 ">

  <p>Nombre de la empresa: {{empresa.nombre_empresa}}</p>
  <p>Departamento: {{empresa.departamento}} </p>
  <p>Ubicacion de la empresa: {{empresa.ubicacion}}</p>
  <p>Tutor de la empresa: {{empresa.tutor}}</p>
  <p>Valoración de las practicas (por departamento y tutor): <span class="rating-static rating-{{empresa.valoracion}}0"></span>
</div>
<div class ="col-md-4">
  <div id="map" class"map"></div>
    <script>
      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14,
          center: {lat: 40.416964, lng: -3.703421}
        });
        var geocoder = new google.maps.Geocoder();


        geocodeAddress(geocoder, map);

      }

      function geocodeAddress(geocoder, resultsMap) {
        var address = "{{empresa.nombre_empresa}}  {{empresa.ubicacion}}";
        geocoder.geocode({'address': address}, function(results, status) {
          if (status === 'OK') {
            resultsMap.setCenter(results[0].geometry.location);
            var marker = new google.maps.Marker({
              map: resultsMap,
              position: results[0].geometry.location
            });
          } else {
            alert('Geocode was not successful for the following reason: ' + status);
          }
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGVn2aOK_4lrdN3FRn50zfuYzC8l2B148&callback=initMap">
    </script>
  </div>
</div>
<p>Bloque de opiniones</p>
<p>Nueva opinión sobre: <a href="/encuesta/nueva/{{empresa.nombre_empresa}}/{{empresa.departamento}}/{{empresa.tutor}}"> {{empresa.nombre_empresa}}</a></p>
<p>{{aux}}</p>
{%for opinion in opiniones%}
<p>Opinion de: <a href='/encuesta/detalle/{{opinion.pk}}'>{{opinion.user}}</a> Publicada el {{opinion.created_date}}</p>

{% endfor %}













</div>

{% endblock content %}
