{% extends "sopa/index.html" %}
{% block content %}
{% load widget_tweaks %}
<div class="page-header">
  <h1>&nbsp;Editar empresa. <small>Edición de los datos de empresa</small></h1>

</div>
<div class="container">
    <br />
    <br />
    <br />

        <form method="POST" >{% csrf_token %}

        <div class="form-group row col-md-4 col-md-offset-4">
          <label  class=" col-form-label">Nombre de usuario:</label>
          <div class="col-10">
            {{ form.username|attr:"rows:1"|attr:"cols:30"|add_class:"form-control"}}
          </div>
        </div>
        <div class="form-group row col-md-4 col-md-offset-4">
          <label  class=" col-form-label">Nombre:</label>
          <div class="col-10">
            {{ form.first_name|attr:"rows:1"|add_class:"form-control"}}
          </div>
        </div>
        <div class="form-group row col-md-4 col-md-offset-4">
          <label  class="col-form-label">Apellidos</label>
          <div class="col-10">
            {{ form.last_name|attr:"rows:1"|add_class:"form-control"}}
          </div>
        </div>
        <div class="form-group row col-md-4 col-md-offset-4">
          <label class=" col-form-label">Correo:</label>
          <div class="col-10">
            {{ form.email|attr:"rows:1"|add_class:"form-control"}}
          </div>
        </div>
        <div class="form-group row col-md-4 col-md-offset-4">
        <button type="submit" class="save btn btn-success">Guardar</button>
        </div>
        </form>
    </form>
</div>
{% endblock content %}
