{% extends "sopa/index.html" %}
{% block content %}

<div class="jumbotron">
  <h1>Bienvenido al SOPA</h1>
  <p class="lead">Sitema de Opinión sobre Practicas de Alumnos</p>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Que es..?</h3>
      <p>Es un sitio donde encontrar opiniones sobre practicas en empresas de tus compañeros de la ETSIT.
        Una herramienta de ayuda a la hora de elegir tus prácticas o tener algo de información obtenida directamente de tus compañeros
      </p>
      <p>Afrontar unas practicas "a ciegas" puede ser muy duro y aqui podrás tener algo de ayuda para afrontar tus primeros pasos con algo de ayuda</p>
    </div>
    <div class="col-sm-4">
      <h3>Como funciona...?</h3>
      <p>Lo primero será darte de alta ya que a partir de aquí solo pueden acceder usuarios registrados.</p>
      <p>La idea principal es proteger tu identidad y no condicionar las opiniones vertidad a una posible visita de la empresa.</p>
      <p>Una vez registrado podrás navegar por las diferentes secciones y consultar las opiniones sobre practicas de tus compañeros.</p>
    </div>
    <div class="col-sm-4">
      <h3>Registrate!!</h3>
      <p>Es un proceso facil y rapido.</p>
      <p>No se comparten tus datos con ninguna empresa o persona.</p>
      <p>Averigua que empresas te interesan mas en base a la opinion de tus compañeros</p>
    </div>
  </div>
</div>

</body>
</html>

{% endblock content %}
