{% extends "sopa/index.html" %}
{% block content %}
<div class="page-header">
  <h1>Lista de empresas. <small>Empresas registradas en el sitema</small>            <a href="/empresas/new" class="btn btn-info" role="button">      Nueva empresa</a></h1>

</div>
<br>
 <div class ="col-md-8 col-md-offset-2">
   {% for empresa in empresas %}
    <p> Empresa: <a href= '/empresas/{{empresa.pk}}'>{{empresa.nombre_empresa}}</a>
    <p> Departamento: {{empresa.departamento}} </p>
    <p> Ubicacion: {{empresa.ubicacion}} </p>
    <p> Tutor: {{empresa.tutor}} </p>
    <p>Valoración de la empresa: <span class="rating-static rating-{{empresa.valoracion}}0"></span>
    <br>



  {% endfor %}
  </div>
</div>

{% endblock content %}
