{% extends "sopa/index.html" %}
{% block content %}
<div class="page-header">
  <h1>Mi perfil. <small>Mis datos dentro del sistema</small></h1>

</div>
<div class="container">
    <br />
    <br />
    <br />
<div class ="col-md-4 col-md-offset-2">
<p><b> Usuario:</b> {{usuario.username}} </p>
<p><b> Nombre:</b> {{usuario.first_name}} </p>
<p><b> Apellido:</b> {{usuario.last_name}} </p>
<p><b> mail:</b> {{usuario.email}} </p>
<p><b> Grado:</b> {{grado}}{{grado.nombre_grado}} </p>
<p><b> Fecha de alta:</b> {{usuario.date_joined}}</p>
</div>
<div class ="col-md-4" >
  <h4> Opiniones que he aportado: </h4>
  <p>{{aux}}</p>
  {%for op in opinion%}
  <p><b>Opinion sobre:</b> {{op.nombre_empresa}} <b>Depatamento:</b> {{op.departamento}}</p>
  <p><b> Tutor:</b> {{op.tutor}}</p>
  <p>Publicada el {{op.created_date}}</p>
  <p><a href='/encuesta/detalle/{{op.pk}}' class="btn btn-success" role="button"> Ver encuesta
      <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
    <a href='/encuesta/eliminar/{{op.pk}}' class="btn btn-danger" role="button"> Eliminar encuesta
      <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></p>

  {% endfor %}
</div>
</div>
{% endblock content %}
