{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/></meta>
        <title>Registro en SOPA</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport"></meta>
        <link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css'>
        <link rel="stylesheet" type="text/css" href="{% static 'css/registro.css'  %}"></link>
        <link rel="shortcut icon" href="{% static 'img/favicon.ico'  %}" type="image/x-icon">
        <link rel="icon" href="{% static 'img/favicon.ico'  %}" type="image/x-icon">
    </head>
    <body>
      <div class="wrapper">
        <form class="form-signin" role="form" method="post" id="form_login">
          {% csrf_token %}
          <h2 class="form-signin-heading">Registro en SOPA</h2>
          <input type="text" class="form-control" name="username" placeholder="Usuario (OJO! no se puede editar luego)" required="" />
          <input type="password" class="form-control" name="password1" placeholder="Contraseña (8 caracteres min.)" required="" />
          <input type="password" class="form-control" name="password2" placeholder="Confirme contraseña" required="" />
          <input type="text" class="form-control" name="first_name" placeholder="Nombre" required="" />
          <input type="text" class="form-control" name="last_name" placeholder="Apellido" required="" />
          <input type="text" class="form-control" name="email" placeholder="Correo" required="" />
          <br>
          <p>Seleccione su titulación </p>
          <select id="soflow" name="grado" placeholder="grado" class="form-control">

            <option value="Ing. Aeroespacial en Aeronavegación">Ing. Aeroespacial en Aeronavegación</option>
            <option value="Ing. Aeroespacial en Vehículos Aeroespaciales">Ing. Aeroespacial en Vehículos Aeroespaciales</option>
            <option value="Ing. Biomédica">Ing. Biomédica</option>
            <option value="Ing. en Sistemas Audiovisuales y Multimedia">Ing. en Sistemas Audiovisuales y Multimedia</option>
            <option value="Ing. en Sistemas de Telecomunicación">Ing. en Sistemas de Telecomunicación</option>
            <option value="Ing. en Tecnologías de la Telecomunicación">Ing. en Tecnologías de la Telecomunicación</option>
            <option value="Ing. en Telemática">Ing. en Telemática</option>
            <option value="Biomedical Engineering">Biomedical Engineering</option>
            <option value="Ing. En Sistemas Teleco + ADE">Ing. En Sistemas Teleco + ADE</option>
            <option value="Ing. Del Tecnologías Teleco + ADE">Ing. Del Tecnologías Teleco + ADE</option>
            <option value="Ing. Sup. De Telecomunicación">Ing. Sup. De Telecomunicación</option>
            <option value="Ing. Sup. De Telecomunicación + ADE">Ing. Sup. De Telecomunicación + ADE</option>
            <option value="Ing. Sup. De Telecomunicación Bilingüe">Ing. Sup. De Telecomunicación Bilingüe</option>
          </select>
          {{ form.errors }}
          {{ form.non_field_errors }}

          <br>

          <button class="btn btn-lg btn-primary btn-block" type="submit">Enviar</button>
          <br>
          <div class ="link">
            <a href="/">VOLVER </a>
          </div>
        </form>

      </div>
    </body>
</html>
