.navbar {
  margin-bottom: 0;
  border-radius: 0;
}



.jumbotron {

    background-image: url("http://2.bp.blogspot.com/-7-IpXjh0l8U/UWb_Ze1l89I/AAAAAAAA5xg/_iE1yvX3_4M/s1600/IMG_2644.JPG");
    background-color: #17234E;
    margin-bottom: 10px;
    min-height: 50%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
}

.jumbotron h1, .jumbotron p {

  color: #d9e5f7;
}

form {
  margin-top: 10px;
}
